<h1>{{artist.name}}</h1>
{{> currentDate}}
{{#if newDate }}
	<h3>New Track!</h3>
{{/if}}
<ul>
	<li>Track:{{artist.track}}</li>
	<li>Date:{{artist.date}}</li>
</ul>

<h3>Update this Artist:</h3>

<form method="POST" action="/update">
	<input type="text" name="user_new_artist_name" value="{{artist.name}}" required maxlength="100">
	<input type="text" name="user_new_artist_track" value="{{artist.track}}" required maxlength="100">	
	<input type="date" name="user_new_artist_date" value="{{artist.date}}" required maxlength="100">
	<button>Update Artist</button>
</form>

<h3>Remove this Artist:</h3>

<form method="POST" action="/remove">
	<input type="text" name="remove_term" value="{{artist.name}}" required maxlength="100">
	<button>Remove Artist</button>
</form>