<h1>Welcome to Mark Pfaff's Illustrious ITC 298 App</h1>

<h2>{{page_title}}</h2>

<h3>{{artist_title}}</h3>

	{{#each artists}}
		<h3>{{name}}</h3>
		<ul>			
				<li>Track: {{track}}</li>
				<li>Date Added: {{date}}</li>			
		</ul>
	{{/each}}

<h3>Search for Artist's Name:</h3>

<form method="POST" action="/search">
	<input type="text" name="search_term" placeholder="Search" required maxlength="100">
	<button>Search</button>
</form>

<h3>Add an Artist to the List:</h3>

<form method="POST" action="/add">
	<input type="text" name="add_name" placeholder="Artist Name" required maxlength="100">
	<input type="text" name="add_track" placeholder="Artist Track" required maxlength="100">
	<input type="text" name="add_date" placeholder="YYYY-MM-DD" required maxlength="100">
	<button>Add</button>
</form>

<h3>Remove an Artist from the List:</h3>

<form method="POST" action="/remove">
	<input type="text" name="remove_term" placeholder="Search" required maxlength="100">
	<button>Remove</button>
</form>

<h3>Update an Artist from the List:</h3>

<form method="POST" action="/update">
	<input type="text" name="user_existing_artist_name" placeholder="Artist to update" required maxlength="100">
	<input type="text" name="user_new_artist_name" placeholder="New Artist Name" required maxlength="100">
	<input type="text" name="user_new_artist_track" placeholder="New Artist Track" required maxlength="100">	
	<input type="text" name="user_new_artist_date" placeholder="New Artist Date" required maxlength="100">
	<button>Update</button>
</form>